
@model ProductIndexViewModel

@{
    var products = Model.Products;
    int slNo = 0;
}

<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@(++slNo)</td>
                <td>@product.Name</td>
                <td>@product.UnitPrice</td>
                <td>@product.Description</td>
                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@product.Id">Edit</a> |
                    <a class="btn btn-success">View</a> |
                    <a class="btn btn-danger">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
